<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="src/css/bootstrap.min.css">
</head>

<body>

  <main>
    <header class="page-header page-header-dark bg-gradient-primary-to-secondary pb-10">
      <div class="container">
        <div class="page-header-content pt-4">
          <div class="row align-items-center justify-content-between">
            <div class="col-auto mt-4">
              <h1 class="page-header-title">
                <div class="page-header-icon"><i data-feather="user-plus"></i></div>
                Cadastrar Produto
              </h1>
            </div>
          </div>
        </div>
      </div>
    </header>
    <!-- Main page content-->
    <div class="container mt-n10">
      <div class="row">
        <div class="col-lg-12">
          <!-- Default Bootstrap Form Controls-->
          <div id="default">
            <div class="card mb-4">
              <div class="card-header">Cadastro de Produtos</div>
              <div class="card-body">
                <!-- Component Preview-->
                <div class="sbp-preview">
                  <div class="sbp-preview-content">
                    <div id='resposta'></div>
                    <form id="frm-cadastro-produto" enctype="multipart/form-data">
                      <div class="resposta"></div>
                      <div class="row">
                        <div class="form-group col-sm-3">
                          <label for="">Nome</label>
                          <input class="form-control" id="nome-produto" type="text" placeholder="Nome do Produto" />
                        </div>

                        <div class="form-group col-sm-3">
                          <label for="">Preço</label>
                          <input class="form-control" id="preco-produto" type="text" placeholder="Valor do Produto" />
                        </div>

                        <div class="form-group col-sm-3">
                          <label for="">Categoria</label>
                          <select class="form-control" id="categoria-produto">
                          </select>
                        </div>

                        <div class="form-group col-sm-3">
                          <label for="">Status</label>
                          <select class="form-control" id="status-produto">
                            <option value="1">Ativo</option>
                            <option value="2">Inativo</option>
                          </select>
                        </div>
                      </div>
                      <div class="row">
                        <div class="form-group col-sm-12">
                          <label for="">Selecione uma imagem:</label>
                          <input class="form-control" name="imagem-produto" id="imagem-produto" type="file" />
                        </div>
                      </div>
                      <button type="button" class="btn btn-success" id="btn-cadastrar-produto">Cadastrar</button>
                    </form>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>

  <script src="src/js/jquery.js"></script>
  <script src="src/js/bootstrap.min.js"></script>
  <script src="src/js/sucesso_erro.js"></script>
  <script>

    $(document).ready(function () {
      $("#categoria-produto").empty()
      $.post("Controller/CategoriaController.php", { acao: 'listar-categoria' }, function (response) {
        categorias = JSON.parse(response)
        $.each(categorias, function (index, categoria) {
          $("#categoria-produto").append(
            $("<option></option>").val(categoria.id).html(categoria.name)
          )
        })
      })
    })


    $(document).on("click", "#btn-cadastrar-produto", function () {
      var nomeProduto = $("#nome-produto").val();
      var precoProduo = $("#preco-produto").val();
      var categoriaProduto = $("#categoria-produto").val();
      var statusProduto = $("#status-produto").val();
      var imagemProduto = $('#imagem-produto')[0].files[0];
      var dados_produto = new FormData();

      dados_produto.append("nome", nomeProduto)
      dados_produto.append("preco", precoProduo)
      dados_produto.append("categoria", categoriaProduto)
      dados_produto.append("status", statusProduto)
      dados_produto.append("imagem", imagemProduto)

      dados_produto.append("acao", "cadastrar-produto")


      $.ajax({
        url: 'Controller/ProdutoController.php',
        type: 'post',
        data: dados_produto,
        dataType: 'json',
        contentType: false,
        processData: false,
        success: function (response) {
          if (response.resposta == "Sucesso") {
            sucesso('#resposta', 'Produto Registrado Com sucesso')
            $('#frm-cadastro-produto')[0].reset();
          } else {
            erro('#resposta', 'Erro ao Registrar o Produto')
          }

        }

      })
    });



  </script>
</body>

</html>